html {
	font-size: 18px;
}

img {
	width: 100%;
}

h2 {
	font-size: 1.3rem;
	margin-bottom: -0.5rem;
}

.caption {
	font-size: 0.9rem;
	margin: 0;
}

#wrapper {
	width: 100vw;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.block {
	width: 50%;
	margin: 1rem;
}

a:link {
	color: blue;
	text-decoration: none;
}

a:visited {
	color: darkblue;
	text-decoration: none;
}

#nav {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
}

.row {
	display: flex;
	margin-bottom: 1rem;
	gap: 1rem;
}

.bug-wrapper {
	position: relative;
}

.bug {
	width: 5rem;
	height: 5rem;
	position: absolute;
	z-index: -10;
	color: gray;
	top: -1rem;
	left: -1.2rem;
	fill: var(--bugcolor1);
}

:root {
	--bugcolor1: #bfd0f2;
}

.social {
	object-fit: cover;
	width: 1.5rem;
	height: 1.5rem;
}

.circle {
	object-fit: cover;
	border-radius: 50%;
	width: 3rem;
	height: 3rem;
}

@media (max-width: 70rem) {
	.long-title {
		flex-direction: column;
		margin-bottom: 1rem;
	}
}

@media (max-width: 50rem) {
	.block {
		width: 90%;
		font-size: 0.9rem;
	}
}
